

.pagination {
    
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.search-box {
  max-width: 600px;
  margin: 40px auto;
}

button:hover {
    background-color: #e0e0e0;
}

.gif:hover{
    transform: scale(1.15);
    transition: transform 0.3s;
}
